body {
    margin: 0;
}

.navbar {
    overflow: hidden;
    background-color: #333;
}

.navbar-item {
    margin-left: 20px;
    color: white;
}

.sidenav {
    height: 100%;
    width: 20%;
    position: fixed;
    z-index: 1;
    left: 0;
    background-color: rgb(235, 233, 233);
    overflow-y: hidden;
}

.sidenav a {
    margin: 20px 0 20px 20px ;
    text-decoration: none;
    display: block;
}

.sidenav h3 {
    margin: 20px;
}